{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions"]
            },
            "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0",
        "@babel/preset-react"
    ],
    "env": {
        "development": {
            "plugins": [
                ["emotion", { "sourceMap": true, "autoLabel": true }],
                "react-hot-loader/babel"
            ]
        }
    },
    "plugins": [
        ["emotion", { "hoist": true }],
        "react-hot-loader/babel",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "transform-decorators-legacy",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        "transform-inline-environment-variables",
        "minify-dead-code-elimination",
        "minify-guarded-expressions"
    ]
}
